// FONTS
@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


// COLORS
$primary-blue: #336bfa;
$secondary-blue: #2e77f9;
$deep-blue: #002cff;
$turqoise: #00b2ff;
$light-blue: #e9f5ff;
$white: #ffffff;
$beige: #d5cfd0;
$footer: #1c3588;

// STYLES

html,
body {
    margin: 0;
    padding: 0;
}

h2 {
    font-weight: 600 !important;
}





// DESKTOP
@media screen and (min-width: 1280px) {

    .navbar {
        display: none !important;
    }

    .navegador-phone {
        display: none;

        .container-fluid {
            display: none;
        }
    }

    .navegador-phone {
        display: none;
    }

    .phone-help-cards {
        display: none;
    }

    .help-phone {
        display: none;
    }

    .mobile-footer {
        display: none;
    }

    body {
        border-bottom: 64px solid $primary-blue;
    }

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.5rem 10vw 0.5rem 10vw;
        background-color: $secondary-blue;
        color: $white;
        font-family: 'Kanit', sans-serif;

        h4 {
            transform: translateY(0.3rem);
        }

        .mail-n-number {
            gap: 2rem;
            display: flex;
            flex-direction: row;
            padding-right: 6rem;

            span {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                svg {
                    margin: auto;
                }
            }
        }
    }

    .navegador-phone {
        display: none;
    }

    .navegador {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5vw 1rem 5vw;

        .logo {
            width: 64px;
            height: 64px;
            border-radius: 10px;
        }

        .navegadorigation {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            list-style-type: none;
            font-family: 'Kanit', 'sans-serif';

            li {
                a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s ease-in-out;

                    svg {
                        height: 0.8rem;
                        padding-left: 0.5rem;
                    }
                }

                a:hover {
                    color: $turqoise;
                }
            }


        }

        .call-us {
            text-decoration: none;
            background-color: $deep-blue;
            color: $white;
            padding: 0.8rem 2rem 0.8rem 2rem;
            border-radius: 30px;
            font-family: 'Kanit', 'sans-serif';
            font-weight: bold;
            font-size: 1.2rem;
            transition: 0.3s ease-in-out;
            border: 1px solid transparent;
        }

        .call-us:hover {
            background-color: $white;
            border: 1px solid $deep-blue;
            color: $deep-blue;
        }
    }

    .main {
        display: flex;
        flex-direction: row;
        background-image: url('../../hero-bg.jpg');
        background-position: 120% 20%;
        background-size: 60%;
        background-repeat: no-repeat;
        height: 60vh;
        padding: 5vw 30vw 5vw 10vw;
        background-color: $beige;

        .presentation {
            width: 25vw;
            background-color: $beige;

            h1 {
                font-size: 3rem;
                font-family: 'Montserrat', 'sans-serif';
                text-transform: uppercase;
                color: $primary-blue;
                margin-bottom: 2rem;
                font-weight: 800;
            }

            p {
                font-family: 'Kanit', 'sans-serif';
                color: rgba(0, 0, 0, 0.747)
            }

            button {
                margin-top: 2rem;
                border: 1px solid transparent;
                background-color: $turqoise;
                padding: 0.5rem 2rem 0.5rem 2rem;
                border-radius: 30px;
                font-family: 'Kanit', 'sans-serif';
                font-weight: bold;
                font-size: 1.2rem;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                color: $white;
                cursor: pointer;
            }

            button:hover {
                border: 1px solid $turqoise;
                background-color: $white;
                color: $turqoise;
            }
        }

    }

    .helpcards {
        .my-cards {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 4rem;
            margin: 5rem 10vw 5rem 10vw;


            .my-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 12vw;
                height: 12vw;
                box-shadow: 0px 10px 20px $primary-blue;
                padding: 5rem 2rem 5rem 2rem;
                transition: 0.3s ease-in-out;
                text-align: center;


                img {
                    width: 96px;
                    margin-bottom: 1rem;
                }

                font-size: 1.5rem;
                font-family: 'Kanit',
                'sans-serif';
            }

            .my-card:hover {
                box-shadow: 0px 10px 30px $deep-blue;
            }
        }
    }

    .find-plan {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5rem 15vw 0rem 15vw;

        .plan-image {}

        .text {
            padding: 5rem 0vw 5rem 4vw;
            width: 30vw;

            h2 {
                font-size: 3rem;

                font-family: 'Kanit', 'sans-serif';
            }

            p {
                font-family: 'Montserrat', 'sans-serif';
                color: rgba(0, 0, 0, 0.733);
            }

            .about {
                margin-top: 2rem;
                border: 1px solid transparent;
                background-color: $primary-blue;
                padding: 0.5rem 3rem 0.5rem 3rem;
                border-radius: 30px;
                color: $white;
                font-family: 'Kanit', 'sans-serif';
                font-weight: bold;
                font-size: 1.2rem;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                cursor: pointer;
            }

            .about:hover {
                background-color: $white;
                border: 1px solid $primary-blue;
                color: $primary-blue;

            }

            .tips {
                display: flex;
                flex-direction: row;
                font-family: 'Montserrat', 'sans-serif';
                font-weight: bold;
                margin-top: 2rem;
                gap: 3rem;

                .save-money {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                .licensed-agents {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center
                }
            }
        }


    }

    .pick-insurance {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 15vw 5rem 15vw;
        background-color: $light-blue;

        h2 {
            font-family: 'Kanit', 'sans-serif';
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.74);
        }

        .insurance-my-cards {
            margin-top: 4rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;

            .my-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                min-width: 100px;
                max-width: 400px;

                h3 {
                    font-family: 'Kanit', 'sans-serif';
                    font-size: 2rem;
                    color: $primary-blue;
                    font-weight: 600;
                    margin-top: 1rem;
                }

                p {
                    color: rgba(0, 0, 0, 0.493);
                    font-family: 'Montserrat', 'sans-serif';
                    text-align: center;
                    padding: 0 2rem 0 2rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .protecting-people {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5rem 15vw 5rem 15vw;

        .plan-image {}

        .text {
            padding: 5rem 8vw 5rem 8vw;

            h2 {
                font-size: 3rem;
                font-family: 'Kanit', 'sans-serif';
            }

            p {
                font-family: 'Montserrat', 'sans-serif';
                color: rgba(0, 0, 0, 0.733);
            }

            .about {
                margin-top: 2rem;
                border: 1px solid transparent;
                background-color: $primary-blue;
                padding: 0.5rem 3rem 0.5rem 3rem;
                border-radius: 30px;
                color: $white;
                font-family: 'Kanit', 'sans-serif';
                font-weight: bold;
                font-size: 1.2rem;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                cursor: pointer;
            }

            .about:hover {
                background-color: $white;
                border: 1px solid $primary-blue;
                color: $primary-blue;

            }

            .tips {
                display: flex;
                flex-direction: row;
                font-family: 'Montserrat', 'sans-serif';
                font-weight: bold;
                margin-top: 2rem;

                .save-money {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                .licensed-agents {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center
                }
            }
        }


    }

    .help {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 15vw 15vh 15vw;

        h2 {
            font-family: 'Kanit', 'sans-serif';
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.74);
            margin-bottom: 2rem;
        }

        .help-my-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 8rem;


            .help-my-card {
                display: flex;
                flex-direction: column;
                width: auto;
                height: auto;
                justify-content: space-between;

                .content {
                    margin-top: 2rem;
                    padding: 0;
                    height: 20vh;
                    width: 20vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                }

                h2 {
                    font-family: 'Kanit', 'sans-serif';
                    padding: 0;
                    margin: 0;
                }

                p {
                    height: auto;
                    font-family: 'Montserrat', 'sans-serif';
                    color: rgba(0, 0, 0, 0.493);
                    padding: auto;
                    margin: auto;
                }

                img {
                    object-fit: cover;
                    width: 20vw;
                    height: 10vw;
                }

                a {
                    justify-self: end;
                    text-decoration: none;
                    color: $primary-blue;
                    font-family: 'Kanit', 'sans-serif';
                    transition: 0.3s ease-in-out;
                    font-size: 1.2rem;
                }

                a:hover {
                    font-weight: bold;
                }
            }
        }
    }

    .footer {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 2rem 5rem 2rem 5rem;
        padding: 2rem;
        transform: translateY(4rem);
        background-color: $white;
        box-shadow: 0px 15px 30px $deep-blue;
        z-index: 2;
        font-family: 'Montserrat', 'sans-serif';

        .footer-my-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            padding: 1rem;

            h2 {
                font-family: 'Kanit', 'sans-serif';
                font-size: 2rem;
                text-align: left;
                margin-top: -1rem;
            }

            p {
                padding: 2rem 0 0 0;
            }

            .rrss {
                ul {
                    padding-left: 0;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    list-style-type: none;
                    height: 5vh;

                    li>a {
                        color: $primary-blue;

                        svg {
                            transition: 0.3s ease-in-out;
                            width: 18px;
                            height: 18px;
                        }
                    }

                    li>a:hover {
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            ul {
                list-style-type: none;
                text-align: left;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                height: 18vh;

                li {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: flex-start;
                    align-items: center;
                }

                li>a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s ease-in-out;
                }

                li>a:hover {
                    color: $deep-blue;
                }
            }

            .footer-logo {
                width: 64px;
                height: 64px;
                border-radius: 15px;
            }
        }
    }
}




// TABLET
@media screen and (min-width: 720px) and (max-width: 1280px) {

    .navbar {
        display: none !important;
    }

    .navegador-phone {
        display: none;

        .container-fluid {
            display: none;
        }
    }

    .mobile-footer {
        display: block,
    }

    .first-footer,
    .second-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: $white;
        box-shadow: 0px 15px 30px $deep-blue;
        z-index: 2;
        font-family: 'Montserrat', 'sans-serif';

        .footer-my-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: left;
            text-align: center;

            .footer-logo {
                margin-top: 2rem;
            }

            h2 {
                font-family: 'Kanit', 'sans-serif';
                font-size: 2rem;
                text-align: left;
                margin-top: 1rem;
            }

            p {
                padding: 2rem 6rem 2rem 6rem;
            }

            .rrss {
                ul {
                    padding-left: 0;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    list-style-type: none;
                    margin-top: 2rem;
                    height: 5vh;

                    li>a {
                        color: $primary-blue;

                        svg {
                            transition: 0.3s ease-in-out;
                            width: 18px;
                            height: 18px;
                        }
                    }

                    li>a:hover {
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            ul {
                list-style-type: none;
                text-align: left;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                height: 18vh;

                li {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: flex-start;
                    align-items: center;
                }

                li>a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s ease-in-out;
                }

                li>a:hover {
                    color: $deep-blue;
                }
            }

            .footer-logo {
                width: 64px;
                height: 64px;
                border-radius: 15px;
            }
        }
    }

    .first-footer {
        margin-right: 2rem;
        transform: translateY(4rem);

        .footer-my-card {
            h2 {
                margin-top: 2rem;
                margin-right: 2rem;
            }

            ul {
                margin-top: 1rem;
            }
        }
    }

    .second-footer {
        margin-left: 2rem;
        margin-bottom: 4rem;
        transform: translateY(-2rem);

        h2 {
            margin-bottom: 2rem;
            margin-right: auto;
            margin-left: 6rem;

        }

        .footer-my-card {
            padding: 1rem 1rem 5rem 1rem;

            ul {
                margin-right: auto;
                margin-left: 4rem;
            }
        }


    }

    .footer-desktop {
        display: none;
    }

    .strip {
        background-color: $primary-blue;
        height: 64px;
        width: 100vw;
        padding: 0;
        margin: 0;
        z-index: -1;
        border-top: 64px solid $primary-blue;
        border-bottom: 64px solid $primary-blue;
    }

    body {
        border-bottom: 64px solid $white;
    }

    .phone-help-cards {
        display: none;
    }

    .help-phone {
        display: none;
    }

    .contact {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10vw 0 10vw;
        background-color: $secondary-blue;
        color: $white;
        font-family: 'Kanit', sans-serif;
        font-size: 1.5vw;

        h4 {
            font-size: 1.8vw;
            transform: translateY(0.2rem);
        }

        .mail-n-number {
            gap: 2rem;
            display: flex;
            flex-direction: row;

            span {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                svg {
                    margin: auto;
                }
            }
        }
    }

    .navegador-phone {
        display: none;
    }

    .navegador {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5vw 1rem 5vw;

        .logo {
            width: 64px;
            height: 64px;
            border-radius: 10px;
        }

        .navegadorigation {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            list-style-type: none;
            font-family: 'Kanit', 'sans-serif';

            li {
                a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s ease-in-out;

                    svg {
                        height: 0.8rem;
                        transform: translateY(2px);
                    }
                }

                a:hover {
                    color: $turqoise;
                }
            }


        }

        .call-us {
            text-decoration: none;
            background-color: $deep-blue;
            color: $white;
            padding: 0.8rem 2rem 0.8rem 2rem;
            border-radius: 30px;
            font-family: 'Kanit', 'sans-serif';
            font-weight: bold;
            font-size: 1.2rem;
            transition: 0.3s ease-in-out;
            border: 1px solid transparent;
        }

        .call-us:hover {
            background-color: $white;
            border: 1px solid $deep-blue;
            color: $deep-blue;
        }
    }

    .main {
        display: flex;
        flex-direction: row;
        background-image: url('../../hero-bg.jpg');
        background-position: 340px;
        background-size: 100%;
        background-repeat: no-repeat;
        height: auto;
        padding: 5vw 30vw 5vw 3vw;
        background-color: $beige;

        .presentation {
            width: 40vw;
            background-color: $beige;

            h1 {
                font-size: 3rem;
                font-family: 'Montserrat', 'sans-serif';
                text-transform: uppercase;
                color: $primary-blue;
                font-weight: 800;
            }

            p {
                font-family: 'Kanit', 'sans-serif';
                color: rgba(0, 0, 0, 0.747)
            }

            button {
                margin-top: 2rem;
                margin-bottom: 2rem;
                border: 1px solid transparent;
                background-color: $turqoise;
                padding: 0.5rem 2rem 0.5rem 2rem;
                border-radius: 30px;
                font-family: 'Kanit', 'sans-serif';
                font-weight: bold;
                font-size: 1.2rem;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                color: $white;
                cursor: pointer;
            }

            button:hover {
                border: 1px solid $turqoise;
                background-color: $white;
                color: $turqoise;
            }
        }

    }

    .helpcards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 5rem 0 5rem 0;

        .my-cards {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(1, 1fr);
            gap: 2rem;
            margin: 5rem 0 5rem 0;


            .my-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 15vw;
                height: 15vw;
                box-shadow: 0px 10px 20px $primary-blue;
                padding: 5rem 2rem 5rem 2rem;
                transition: 0.3s ease-in-out;
                text-align: center;

                img {
                    width: 64px;
                    margin-bottom: 1rem;
                }

                font-size: 1.5rem;
                font-family: 'Kanit',
                'sans-serif';
            }

            .my-card:hover {
                box-shadow: 0px 10px 30px $deep-blue;
            }
        }
    }

    .find-plan {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-top: 15rem;
        padding: 5rem auto 0rem auto;

        .text {
            padding: 5rem 0vw 5rem 4vw;
            width: 30vw;

            h2 {
                font-size: 3rem;
                font-family: 'Kanit', 'sans-serif';
                margin-bottom: 2rem;
            }

            p {
                font-family: 'Montserrat', 'sans-serif';
                color: rgba(0, 0, 0, 0.733);
            }

            .about {
                margin-top: 2rem;
                border: 1px solid transparent;
                background-color: $primary-blue;
                padding: 0.5rem 3rem 0.5rem 3rem;
                border-radius: 30px;
                color: $white;
                font-family: 'Kanit', 'sans-serif';
                font-weight: bold;
                font-size: 1rem;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                cursor: pointer;
            }

            .about:hover {
                background-color: $white;
                border: 1px solid $primary-blue;
                color: $primary-blue;

            }

            .tips {
                display: flex;
                flex-direction: row;
                font-family: 'Montserrat', 'sans-serif';
                font-weight: bold;
                margin-top: 2rem;
                transform: translateX(-4rem);
                font-size: 0.8rem;
                gap: 1rem;

                .save-money {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                .licensed-agents {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center
                }
            }
        }


    }

    .pick-insurance {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 15vw 5rem 15vw;
        background-color: $light-blue;

        h2 {
            font-family: 'Kanit', 'sans-serif';
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.74);
            text-align: center;
        }

        .insurance-my-cards {
            margin-top: 4rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 1rem;

            .my-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                min-width: 100px;
                max-width: 400px;

                h3 {
                    font-family: 'Kanit', 'sans-serif';
                    font-size: 2rem;
                    font-weight: 600;
                    color: $primary-blue;
                    text-align: center;
                }

                p {
                    color: rgba(0, 0, 0, 0.493);
                    font-family: 'Montserrat', 'sans-serif';
                    text-align: center;
                    padding: 0 2rem 0 2rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .protecting-people {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 5rem 15vw 5rem 15vw;

        .text {
            padding: 5rem 5vw 5rem 5vw;

            h2 {
                font-size: 3rem;
                font-family: 'Kanit', 'sans-serif';
            }

            p {
                font-family: 'Montserrat', 'sans-serif';
                color: rgba(0, 0, 0, 0.733);
            }

            .about {
                margin-top: 2rem;
                border: 1px solid transparent;
                background-color: $primary-blue;
                padding: 0.5rem 3rem 0.5rem 3rem;
                border-radius: 30px;
                color: $white;
                font-family: 'Kanit', 'sans-serif';
                font-weight: bold;
                font-size: 1rem;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                cursor: pointer;
            }

            .about:hover {
                background-color: $white;
                border: 1px solid $primary-blue;
                color: $primary-blue;

            }

            .tips {
                display: flex;
                flex-direction: row;
                font-family: 'Montserrat', 'sans-serif';
                font-weight: bold;
                margin-top: 2rem;

                .save-money {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                .licensed-agents {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center
                }
            }
        }


    }

    .help {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 15vw 15vh 15vw;

        h2 {
            font-family: 'Kanit', 'sans-serif';
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.74);
            margin-bottom: 1rem;
        }

        .help-my-cards {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(2, 1fr);
            gap: 8rem;


            .help-my-card {
                display: flex;
                flex-direction: column;
                width: auto;
                height: auto;
                justify-content: space-between;

                .content {
                    margin-top: 2rem;
                    padding: 0;
                    height: 26vh;
                    width: 20vw;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;

                }

                h2 {
                    font-family: 'Kanit', 'sans-serif';
                    padding: 0;
                    margin: 0;
                }

                p {
                    height: auto;
                    font-family: 'Montserrat', 'sans-serif';
                    color: rgba(0, 0, 0, 0.493);
                    padding: auto;
                    margin: auto;
                }

                img {
                    object-fit: cover;
                    width: 20vw;
                    height: 10vw;
                }

                a {
                    justify-self: end;
                    text-decoration: none;
                    color: $primary-blue;
                    font-family: 'Kanit', 'sans-serif';
                    transition: 0.3s ease-in-out;
                    font-size: 1.2rem;
                }

                a:hover {
                    font-weight: bold;
                }
            }
        }
    }

    .footer-desktop {
        display: none;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(1, 1fr);
        margin: 2rem 5rem 2rem 5rem;
        padding: 2rem;
        transform: translateY(4rem);
        background-color: $white;
        box-shadow: 0px 15px 30px $deep-blue;
        z-index: 2;
        font-family: 'Montserrat', 'sans-serif';

        .footer-my-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;

            padding: 1rem 1rem 5rem 1rem;

            h2 {
                font-family: 'Kanit', 'sans-serif';
                font-size: 2rem;
                text-align: left;
                margin-top: -1rem;
            }

            .rrss {
                ul {
                    padding-left: 0;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    list-style-type: none;
                    margin-top: 2rem;
                    height: 5vh;

                    li>a {
                        color: $primary-blue;

                        svg {
                            transition: 0.3s ease-in-out;
                            width: 18px;
                            height: 18px;
                        }
                    }

                    li>a:hover {
                        svg {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }

            ul {
                list-style-type: none;
                text-align: left;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                height: 18vh;

                li {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: flex-start;
                    align-items: center;
                }

                li>a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s ease-in-out;
                }

                li>a:hover {
                    color: $deep-blue;
                }
            }

            .footer-logo {
                width: 64px;
                height: 64px;
                border-radius: 15px;
            }
        }
    }
}





// MOBILE
@media screen and (max-width: 720px) {


    .navbar-toggler {
        filter: invert(100%);
        border: none !important;
        padding: 0 !important;
        margin: 0 !important;

        .navbar-toggler-icon {
            background-size: 130% !important;
        }
    }

    .navbar>.container-fluid {
        padding: 0;
    }

    .connect {
        display: flex;
        flex-direction: row;
        color: $white;
        width: 68vw;
        padding: 0 1rem 0 0;
        margin: 0;
        text-align: left;

        h2 {
            font-size: 0.8rem;
            width: 65vw;
            font-family: 'Kanit', 'sans-serif';
        }

        .mail-n-number {
            display: flex;
            flex-direction: row;
            font-size: 0.5rem;
            font-family: 'Montserrat', 'sans-serif';
            width: 100%;
            justify-content: space-between;
            transform: translateY(-0.5rem);

            span>svg {
                width: 8px;
            }
        }
    }

    nav {
        background-color: $primary-blue !important;


    }

    .navbar-nav>.nav-item>a {
        color: $white !important;
    }

    .contact {
        display: none;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0 10vw 0 10vw;
        background-color: $secondary-blue;
        color: $white;
        font-family: 'Kanit', sans-serif;
        font-size: 1.5vw;

        .mail-n-number {
            gap: 2rem;
            display: flex;
            flex-direction: row;

            span {
                display: flex;
                flex-direction: row;
                gap: 1rem;

                svg {
                    margin: auto;
                }
            }
        }
    }

    .navegador {
        display: none;
    }

    .collapse {
        transition: 0.2s ease-in-out;
    }

    .navbar-nav {
        margin-top: 2rem;

        li {
            padding-left: 2rem;
        }
    }

    .navegador-phone {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 5vw 1rem 5vw;



        .logo {
            width: 64px;
            height: 64px;
            border-radius: 10px;
            transform: translate(1rem, 2rem);
        }

        .navegadorigation {
            display: flex;
            flex-direction: row;
            gap: 2rem;
            list-style-type: none;
            font-family: 'Kanit', 'sans-serif';

            li {
                a {
                    text-decoration: none;
                    color: black;
                    transition: 0.3s ease-in-out;

                    svg {
                        height: 0.8rem;
                        transform: translateY(2px);
                    }
                }

                a:hover {
                    color: $turqoise;
                }
            }


        }

        .call-us {
            text-decoration: none;
            background-color: $deep-blue;
            color: $white;
            padding: 1rem 2rem 1rem 2rem;
            border-radius: 30px;
            font-family: 'Kanit', 'sans-serif';
            font-weight: bold;
            font-size: 1.2rem;
            transition: 0.3s ease-in-out;
            border: 1px solid transparent;
        }

        .call-us:hover {
            background-color: $white;
            border: 1px solid $deep-blue;
            color: $deep-blue;
        }
    }

    .main {
        display: flex;
        flex-direction: row;
        background-image: url('../../hero-bg.jpg');
        background-position: 20px;
        background-size: 150%;
        background-repeat: no-repeat;
        height: auto;
        padding: 15vw 30vw 15vw 3vw;
        background-color: $beige;

        .presentation {
            width: 40vw;
            background-color: transparent;

            h1 {
                font-size: 1.5rem;
                font-family: 'Montserrat', 'sans-serif';
                text-transform: uppercase;
                color: $primary-blue;
                font-weight: 800;
            }

            p {
                font-family: 'Kanit', 'sans-serif';
                font-size: 0.9rem;
                color: rgba(0, 0, 0, 0.747)
            }

            button {
                margin-top: 2rem;
                margin-bottom: 2rem;
                border: 1px solid transparent;
                background-color: $turqoise;
                padding: 0.5rem 2rem 0.5rem 2rem;
                border-radius: 30px;
                font-family: 'Kanit', 'sans-serif';
                font-weight: bold;
                font-size: 1rem;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                color: $white;
                cursor: pointer;
            }

            button:hover {
                border: 1px solid $turqoise;
                background-color: $white;
                color: $turqoise;
            }
        }

    }

    .carousel-control-next,
    .carousel-control-prev {
        filter: invert(100%);
    }

    .my-cards,
    .desktop {
        display: none;
    }

    .phone-help-cards {
        width: 100vw;
        height: 50vh;
        padding: 0;
        margin: 2rem 0 5rem 0;

        .carousel-item {
            height: 50vh;
            font-weight: 400;
            font-size: 1.5rem;
            font-family: 'Kanit', 'sans-serif';
        }


        .carousel>.carousel-inner>.carousel-item {
            .my-card {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 50vw;
                box-shadow: 0px 10px 20px $primary-blue;
                margin: 6rem auto auto auto;
                height: 50vw;
            }
        }
    }

    .find-plan {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 5rem auto 5rem auto;

        .plan-image {
            width: 80vw;
            transform: translateX(-3rem);
            padding-left: 2rem;
        }

        .text {
            transform: translateX(3rem);
            width: 75vw;

            h2 {
                font-size: 2rem;
                margin: 2rem auto 2rem auto;
                font-family: 'Kanit', 'sans-serif';
            }

            p {
                font-family: 'Montserrat', 'sans-serif';
                color: rgba(0, 0, 0, 0.733);
            }

            .about {
                margin-top: 2rem;
                border: 1px solid transparent;
                background-color: $primary-blue;
                padding: 0.5rem 3rem 0.5rem 3rem;
                border-radius: 30px;
                color: $white;
                font-family: 'Kanit', 'sans-serif';
                font-weight: bold;
                font-size: 1.2rem;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                cursor: pointer;
            }

            .about:hover {
                background-color: $white;
                border: 1px solid $primary-blue;
                color: $primary-blue;

            }

            .tips {
                display: flex;
                flex-direction: row;
                font-family: 'Montserrat', 'sans-serif';
                font-weight: bold;
                margin-top: 2rem;

                .save-money {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                .licensed-agents {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center
                }
            }
        }


    }

    .pick-insurance {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 5rem 15vw 5rem 15vw;
        background-color: $light-blue;

        h2 {
            font-family: 'Kanit', 'sans-serif';
            font-size: 3rem;
            color: rgba(0, 0, 0, 0.74);
            text-align: center;
        }

        .insurance-my-cards {
            margin-top: 4rem;
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            gap: 1rem;

            .my-card {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                min-width: 200px;
                max-width: 250px;
                height: auto;

                h3 {
                    font-family: 'Kanit', 'sans-serif';
                    font-size: 1.2rem;
                    color: $primary-blue;
                    text-align: center;
                    font-weight: 600;
                    margin-top: 2rem;
                }

                p {
                    color: rgba(0, 0, 0, 0.493);
                    font-family: 'Montserrat', 'sans-serif';
                    text-align: center;
                    font-size: 0.9rem;
                    padding: 0 2rem 0 2rem;
                    margin-bottom: 2rem;
                }
            }
        }
    }

    .protecting-people {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5rem;
        padding-left: 2rem;

        .plan-image {
            width: 80vw;
            transform: translateX(-3rem);
        }

        .text {
            transform: translateX(2rem);
            margin-top: 2rem;
            width: 75vw;

            h2 {
                font-size: 2rem;
                font-family: 'Kanit', 'sans-serif';
            }

            p {
                font-family: 'Montserrat', 'sans-serif';
                color: rgba(0, 0, 0, 0.733);
            }

            .about {
                margin-top: 2rem;
                border: 1px solid transparent;
                background-color: $primary-blue;
                padding: 0.5rem 3rem 0.5rem 3rem;
                border-radius: 30px;
                color: $white;
                font-family: 'Kanit', 'sans-serif';
                font-weight: bold;
                font-size: 1.2rem;
                transition: 0.3s ease-in-out;
                text-transform: uppercase;
                cursor: pointer;
            }

            .about:hover {
                background-color: $white;
                border: 1px solid $primary-blue;
                color: $primary-blue;

            }

            .tips {
                display: flex;
                flex-direction: row;
                font-family: 'Montserrat', 'sans-serif';
                font-weight: bold;
                margin-top: 2rem;

                .save-money {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                }

                .licensed-agents {
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center
                }
            }
        }


    }

    .help-phone {
        display: block;
        margin-top: 5rem;

        .carousel>.carousel-inner>.carousel-item>.help-my-card {

            height: 75vh;

            padding-bottom: 2rem;

            img {
                height: 30vh;
                width: 100%;
                object-fit: cover;
            }

            h2 {
                font-family: 'Kanit', 'sans-serif';
                padding: 5rem 1rem 2rem 1rem;
                text-align: center;
            }

            p {
                height: auto;
                font-family: 'Montserrat', 'sans-serif';
                color: rgba(0, 0, 0, 0.493);
                padding: 2rem;
                margin: auto;
            }

            a {
                justify-self: end;
                text-decoration: none;
                color: $primary-blue;
                font-family: 'Kanit', 'sans-serif';
                transition: 0.3s ease-in-out;
                font-size: 1.2rem;
                padding: 2rem;
            }

            a:hover {
                font-weight: bold;
            }
        }

    }

    .help {
        display: none;
    }

    .mobile-footer {
        display: block,
    }

    .first-footer,
    .second-footer {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(1, 1fr);
        background-color: $white;
        box-shadow: 0px 15px 30px $deep-blue;
        z-index: 2;
        font-family: 'Montserrat', 'sans-serif';

        .footer-my-card {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            text-align: center;
            padding: 1rem 1rem 5rem 1rem;
            font-size: 0.8rem;
            color: $footer;

            h2 {
                font-family: 'Kanit', 'sans-serif';
                font-size: 1rem;
                text-align: left;
                margin-top: 1rem;
            }

            p {
                margin-top: 2rem;
                padding: 0 2rem 0 2rem;
            }

            .rrss {
                ul {
                    padding-left: 0;
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    list-style-type: none;
                    margin-top: 1rem;
                    margin-left: 4rem;
                    height: 5vh;
                    justify-content: center;
                    align-items: center;

                    li>a {
                        color: $footer;

                        svg {
                            transition: 0.3s ease-in-out;
                            width: 18px;
                            height: 18px;
                        }
                    }

                    li>a:hover {
                        svg {
                            width: 24px;
                            height: 24px;
                            color: $primary-blue;
                        }
                    }
                }
            }

            ul {
                list-style-type: none;
                text-align: left;
                margin-top: 0;
                display: flex;
                flex-direction: column;
                gap: 1rem;
                height: auto;

                li {
                    display: flex;
                    flex-direction: row;
                    gap: 1rem;
                    justify-content: flex-start;
                }

                li>a {
                    text-decoration: none;
                    color: $footer;
                    transition: 0.3s ease-in-out;
                }

                li>a:hover {
                    color: $deep-blue;
                }
            }

            .footer-logo {
                width: 64px;
                height: 64px;
                border-radius: 15px;
            }
        }
    }

    .first-footer {
        margin-right: auto 3rem auto 3rem;
        transform: translateY(2rem);
        padding-left: 2rem;
        margin-right: 2rem;

        .footer-my-card {
            h2 {
                margin-right: auto;
                font-size: 1.5rem;
            }

            ul {
                transform: translateX(-2.5rem);
                margin-right: auto;
            }
        }


    }

    .second-footer {
        margin-left: 2rem;
        padding-right: 1rem;
        padding-left: 4rem;
        margin-bottom: 4rem;
        transform: translateY(-2rem);

        h2 {
            margin-right: auto;
            margin-left: -1rem;
            font-size: 1.5rem;
        }

        ul {
            transform: translate(-2.5rem, 1rem);
            margin-right: auto;
        }
    }

    .footer-desktop {
        display: none;
    }

    .strip {
        background-color: $primary-blue;
        height: 64px;
        width: 100vw;
        padding: 0;
        margin: 0;
        z-index: -1;
        border-top: 64px solid $primary-blue;
        border-bottom: 64px solid $primary-blue;
    }

    body {
        border-bottom: 64px solid $white;
    }
}